# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# IDEs
nb-configuration.xml
nbactions*.xml

# log files
*.log

# python files
flask

# nodejs files
node_modules

*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# IntelliJ
*.iml
.idea

# certificate files
crt
*.crt
*.pem
*.key

# deployments
docker/httpd/data/client/*
docker/httpd/data/docs/swagger.json
